.body-background{
    background: #f2f2f2;
}
.website-logo{
    height: 5%;
    width: 16%;
    padding: 0;
    margin-top: 9px;
}
.margin0{
    margin: 0;
}
.movie-list td{
    padding: 1.5% !important;
    vertical-align: middle !important;
    border-bottom: 1px solid #ddd !important;
}

.movie-name{
    font-weight: bold;
}
.overflowHidden{
     overflow: hidden;
}
.detail{    
font-size: 120%;
padding-right: 1%;
}
.detail-header-color{
    color: black;
}
.detail-val-color{
    color: black;
    font-weight: bold;
}
.movie-color{
    color: #006699;
}
.font-weight{
    font-weight: bold;
}
.background{
    background: white;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
.width{
    width: 30%;
}
.padding-top{
    padding-top: 2%;
}
.screen{
    background: grey;
    text-align: center;
    color: black;
    font-weight: 600;
}
.row-color{
    color:white;
    font-size: 12px;
    background: #006699;
    font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 0;
}
.button-margin{
    text-align: center;
    margin-top: 2%;
}
.button-width{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}

.min-height{
    min-height: 550px;
}
.movie-container{
    padding-top: 1%;
}
.footer-icon{
    width: 3.5%;
}
.overflowTrue{
    overflow: auto;
}