<!--<div class="">
    <h2>ORDER SUMMARY</h2>
    <h3>Cine World</h3>
    <h4>{{movieObj.movieName}}</h4>
    <p>Tickets: <b>{{ticketData.noOfTicket}}</b></p>
    <p>Show Time: <b>{{movieObj.showTime}}</b></p>
    <article><span>Amount Payable:</span><span><b>{{ticketData.totPrice|currency}}</b></span></article>
    <div><a ui-sref='home'>Home</a></div>
</div>-->


    <div class="confirm-content">
        <h2 class="confirm-modal-haeder">
            <span>ORDER SUMMARY</span>
        </h2>
        <div class="confirm-modal-body">
            <h3>{{movieObj.movieName}}</h3>
            <p class="confirm-summary-title">Tickets: <span class="confirm-summary-val-color">{{ticketData.noOfTicket}}</span></p>
            <p class="confirm-summary-title">Show Time: <span class="confirm-summary-val-color">{{movieObj.showTime}}</span></p>
            <article class="confirm-summary-title"><span>Amount Payable:</span><span><span class="confirm-summary-val-color"> {{ticketData.totPrice|currency}}</span></article>
        </div>
        <div class="confirm-modal-footer">
            <a ui-sref='home'>
                <button type="button" class="btn btn-danger btn-shadow confirm-margin-btn">
                     Cancel
                </button>
            </a>
        </div>
    </div>
