<div id='orderSummary'>
    <div class="content">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>ORDER SUMMARY</h2>
        <h3>Cine World</h3>
        <h4>{{movieObj.movieName}}</h4>
        <p>Tickets: <b>{{ticketObj.noOfTicket}}</b></p>
        <p>Show Time: <b>{{movieObj.showTime}}</b></p>
        <article><span>Amount Payable:</span><span><b>{{ticketObj.totPrice|currency}}</b></span></article>
        <div><a ui-sref='selectSeat'>Cancel</a></div><div><a ui-sref="payment">Proceed</a></div>
    </div>
</div>